body {
    padding: 10px;
    background-color: #E5E5E5;
    color: #727891;
}
.listing{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.comment{
    width:50%;
}
.detail{
    width: 50%;
}

