{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listings page {{userr.id}} </h2>
    <div>
        <h2>Title :  {{listing.title}}</h2> 
        <p>Description : {{listing.description}} </p>
        <img width="300px" high="300px" src="{{listing.url}}">
        <h3>Category :{{listing.categorys}} </h3>
        <li>Start Bid :{{listing.bid}} </li>
        <li>status :{{listing.status}} </li>

            {% for ele in list_watch %}

                {% if ele.title == listing.title  %}
                    
                    <form action="{% url 'page_listing' listing.id %}" method="post">
                        {% csrf_token %} 
                        <input class="btn btn-primary" name="q" type="submit" value="remove">
                    </form>
                    
                {% else %}
                    
                    <form action="{% url 'page_listing' listing.id %}" method="post">
                        {% csrf_token %} 
                        <input class="btn btn-primary" name="q" type="submit" value="add">
                    </form>
                    
                {% endif %}
                
            {% empty %}
                <form action="{% url 'page_listing' listing.id %}" method="post">
                    {% csrf_token %} 
                    <input class="btn btn-primary" name="q" type="submit" value="add">
                </form>
        {% endfor %}
    </div>
    

    
{% endblock %}