{% extends "auctions/layout.html" %}

{% block body %}
    <h2>watch list  page</h2>
    <h5>
        user id : {{user.id}}
    </h5>
    {% for listing in list_watch %}

       
            <div>
                <h2>Title :  {{listing.title}}</h2> 
                <p>Description : {{listing.description}} </p>
                <img width="300px" high="300px" src="{{listing.url}}">
                <h3>Category :{{listing.categorys}} </h3>
                <li>Start Bid :{{listing.bid}} </li>
                <li>status :{{listing.status}} </li>
                
            </div>
        
    {% endfor %}

    
{% endblock %}